.contact {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 100px 18px 50px;
  position: relative;
  z-index: 2;
}
.contact-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}
.contact-content {
  max-width: 500px;
  width: 100%;
}
.contact-title {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}
.contact-description {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 0 #000000;
  margin: 3rem 0;
  a {
    color: #000000;
    text-decoration: underline;
  }
}
.contact-icons {
  display: flex;
  justify-content: space-around;
  margin: 0 0 4rem;
  svg {
    width: 40px;
    height: 40px;
  }
}
.contact-form {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 0 #000000;
  display: flex;
  flex-direction: column;
  background-color: #001b50;
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  padding: 2rem;
}
.form-label {
  color: #ffffff;
}
.form-item {
  font-size: 1rem;
  letter-spacing: 0.1px;
  text-align: justify;
  line-height: 1.75;
  font-family: inherit;
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 3px;
  background-color: #e8f0fe;
  border: 1px solid transparent;
  &:invalid,
  &:-moz-submit-invalid,
  &:-moz-ui-invalid {
    box-shadow: none;
  }
  &:focus {
    outline: none;
    border-color: #2994ff;
    box-shadow: 0 0 4px 0 #2994ff, 0 0 8px 0 #2994ff, 0 0 12px 0 #2994ff;
  }
}
.contact-button {
  text-align: center;
  outline: none;
}
.contact-button-submit {
  outline: none;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #001b50;
  border: 2px solid;
  border-radius: 100px;
  box-shadow: 0px 5px 1px 0px #ffffff;
  position: relative;
  &:hover {
    background-color: #02143a;
    box-shadow: 0px 3px 1px 0px #ffffff;
    top: 2px;
  }
  &:active {
    background-color: #02143a;
    box-shadow: 0px 0px 10px 0px #ffffff;
    top: 5px;
  }
}
.form-back {
  width: 300px;
  height: 31.4rem;
  bottom: 175px;
  right: calc(50% - 145px);
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-paper {
  visibility: hidden;
  margin: 5rem 0;
}
.form-stars {
  display: flex;
  justify-content: space-around;
}
.form-star-left,
.form-star-right {
  visibility: hidden;
}
.form-star-left svg,
.form-star-right svg {
  color: #7497dc;
  width: 40px;
  height: 40px;
}
.form-star-left {
  margin-right: 4rem;
}
.form-star-right {
  margin-left: 4rem;
}
.form-text {
  visibility: hidden;
  color: #7497dc;
}
.form-reset {
  cursor: pointer;
  margin-top: 5rem;
  visibility: hidden;
  background-color: #7497dc;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  color: #001b50;
  font-size: 1rem;
  text-align: center;
  border: none;
  box-shadow: 0px 5px 1px 0px #2757b6;
  position: relative;
  &:hover {
    box-shadow: 0px 3px 1px 0px #2757b6;
    top: 2px;
  }
  &:active {
    box-shadow: 0px 0px 10px 0px #2757b6;
    top: 5px;
  }
}

@media (min-width: 1150px) {
  .contact {
    min-height: calc(100vh - 69px);
    padding: 50px 18px;
  }
  .contact-container {
    flex-direction: row;
    padding: 48px 0 24px;
    width: 1100px;
    min-height: calc(100vh - 169px);
  }
  .contact-content {
    width: 425px;
  }
  .contact-description {
    margin: 3rem 0 10rem;
  }
  .contact-title {
    text-align: left;
  }
  .contact-icons {
    margin: 0;
    svg {
      width: 55px;
      height: 55px;
    }
    :nth-child(odd) {
      width: 50px;
      height: 50px;
      bottom: 40px;
      position: relative;
    }
  }
  .form-back {
    bottom: 200px;
    right: calc(50% - 470px);
  }
  .form-paper {
    margin: 6rem 0;
  }
  .form-reset {
    margin-top: 6rem;
  }
}
